body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    border: 1px solid black;
    width: 500px;
    margin: 20px auto;
    position:relative;
    text-align: left;
    padding: 10px 10px 10px 10px;
}

legend{
    font-size: 24px;
    font-weight: bold;
}

input{
    width: 480px;
    margin-bottom: 15px;
}

textarea{
    width: 480px;
    height: 150px;
}

button{
    height: 50px;
    width: 75px;
}